/* src/styles/global.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: "sm";
}

.card {
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .container {
    padding: 8px;
  }

  .card {
    margin-bottom: 8px;
  }
}

/* Styles for 3D elements */
.lecture-box {
  transform: rotateY(45deg) rotateX(45deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for sprite animation */
@keyframes moveSprite {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

.sprite {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  animation: moveSprite 0.5s linear;
}

/* New CSS class for 3D buttons */
.button-3d {
  transform: perspective(500px) rotateY(45deg) rotateX(45deg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  background: var(--colorShadeE);
  border-radius: 1em;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.button-3d::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.button-3d:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

.button-3d:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.button-3d:active {
  transform: translate(0em, 0.75em);
}

.button-3d:active::before {
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}
