/* src/styles/global.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: "sm";
}

.card {
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .container {
    padding: 8px;
  }

  .card {
    margin-bottom: 8px;
  }
}

/*
.bottom-right-button {
  position: absolute;
  top: 10vh; 
}
  */